<!DOCTYPE html>
<html>
    <head>
        <title>Equipos</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="icon" href="/image/LOGO-RIF-1.png" type="png" size=20px>

    </head>
    <body>
        <h1>Equipos</h1>    
        <div>
            <% if (respuesta) { %>
            <form action="../<%= respuesta.id_equipo %>" method="POST">
                    <input id="id" name="id" value="<%= respuesta.id_equipo %>" hidden>  
                
                    <div>
                        <label for="id">Serial</label>
                        <input type="text" name="serial" tabindex="1"  value="<%= respuesta.serial %>" required>
                    </div> 
                    <div>
                        <label for="id">Nombre</label>
                        <input type="text" name="nombre" tabindex="2" value="<%= respuesta.nombre %>"  required>
                    </div>
                    <div>
                        <label >Descripcion</label>
                        <input type="text" name="descripcion" tabindex="3"  value="<%= respuesta.descripcion %>"  required>
                    </div>         
                    <div>
                        <label >Fecha de Adquisicion</label>
                        <input type="text" name="fecha_de_adquisicion" tabindex="4"  value="<%= respuesta.fecha_de_adquisicion.toLocaleDateString()  %>"  required>
                    </div> 
                    <div>
                        <label >Estatus</label>
                        <input type="text"  name="estatus" tabindex="5" value="<%= respuesta.estatus%>" required>
                    </div> 
                        
                <button type="submit" tabindex="6">Guardar</button>
                <a href="../">Cancelar</a>

            </form>
            <% } %>
        </div>
    </body>
</html>
