<!DOCTYPE html>
<html>
    <head>
        <title>Personal Tecnico</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/styleinicio.css' />

        <link rel="icon" href="/image/LOGO-RIF-1.png" type="png" size=20px>
    </head>
   
    <body>
        <div class="barra">
            <a href="/equipos"><img class="inf" src="/image/equipos.png" ></img></a> 
            <a href="/espacios"><img class="inf" src="/image/espacios.png" ></img></a> 
            <a href="/reservas"><img class="inf" src="/image/reserva.png" ></img></a> 
            <a href="/solicitantes"><img class="inf" src="/image/solicitante.png" ></img></a> 
            <a href="/trabajos"><img class="inf" src="/image/trabajo.png" ></img></a> 
            <a href="/"><img class="inf" src="/image/salir.png"></img></a>
        </div>

        <div style="margin-left: 2cm;">
            <h1>Personal Tecnico</h1>    
            <a href="/personal_tecnico/createp"><button style="height: 1.5cm;"><img src="/image/add-to-queue-solid-72.png" alt="Agregar" style="width: 1cm; height: 1cm;"> </button></a>    
            <table>
            <thead>
                <tr>
                    <th class="id"><h3>Id</h3></th>
                    <th><h3>Cedula</h3></th>
                    <th class="nombre"><h3>Nombre y Apellido</h3></th>
                    <th><h3>Cargo</h3></th>
                    <th><h3>Usuario</h3></th>
                    <th><h3>Clave</h3></th>
                    <th><h3>Especialidad</h3></th>
                    <th><h3>Acciones</h3></th>
                </tr>
            </thead>
            <tbody>
                <% respuesta.forEach(r => { %>
                    <tr>
                        <td><%= r.id_pt  %></td>
                        <td><%= r.cedula %></td>
                        <td><%= r.nombre_y_apellido %></td>
                        <td><%= r.cargo %></td>
                        <td><%= r.usuario  %></td>
                        <td><%= r.clave  %></td>
                        <td><%= r.especialidad  %></td>
                        <td>
                            <a href="/personal_tecnico/editp/<%= r.id_pt %>"><button style="height: 1.3cm;"><img src="/image/edit-alt-solid-24.png" alt="Agregar" style="width: 1cm; height: 1cm;"> </button></a>    
                            <a href="/personal_tecnico/erasep/<%= r.id_pt %>"><button style="height: 1.3cm;"><img src="/image/eraser-solid-72.png" alt="Delete" style="width: 1cm; height: 1cm;"> </button></a>    
                        </td>
                    </tr>
                <% }) %>
            </tbody>
            </table>
        </div>
    </body>
</html>
